[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
flask = "*"
python-dotenv = "*"

[dev-packages]
mypy = "*"
flower = "*"

[requires]
python_version = "3.9"
